.optionButton{
    margin:3% 0% 0% 0%;
    border-radius: 50px;
    border: none;
    outline: none;
    width: 40%;
    height: 20%;
    // padding: .5% 3% .5% 3%;
   background-color: #26ae60;
   color: #ffffff;
}