.data{
    margin-left: 5%;
    margin-bottom: 2%;
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: center;
   align-items: center;
    background-color: #EAF0F1;
    border-radius: 50px;
}