.Authentication{
   align-items: center;

   .content{
    align-items: center;
    height: 100vh;

    .nameContainer{
        
    }

   .title{
      padding: 0%;
      text-align: center;
    
      .mainTitle{
        color: #26ae60;
        text-align: center;
    }

   .subTitle{
       color: #F4C724;
    }
   }
   
   .auth{
       padding: 0%;
       text-align: center;
   }
}
}
