// .title {
//     margin: 0%;
//     padding: 0%;
//     background: url('../../assets/tractor.jpg');
//     // background-attachment: fixed;
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
//     // background-color: blueviolet;
//     height: 100vh;
// }

.Authentication{
   align-items: center;

   .content{
    height: 100vh;
    align-items: center;

   .title{
      padding: 0%;
      text-align: center;
    
      .mainTitle{
        color: #26ae60;
        text-align: center;
    }

   .subTitle{
       color: #F4C724;
    }
   }
   
   .auth{
       padding: 0%;
       text-align: center;
   }
}
}
