.header {
    margin-top: 0%;
    padding: 0%;
}

.mainTitle{
    margin-top: 0%;
    color: #26ae60;
    font-size: 2.5em;
    text-align: center;
}

.subTitle{
    color: #F4C724;
    margin-top: 0%;
}