.checker{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 80vh;
    // background-color: orchid;
}

.crop{
    display: inline-flex;
    width: 65%;
    height: 10%;
    margin : 5% 0% 0% 0%;
    font-size: 1.5em;
    border: none;
    padding: 0% 0% 0% 1.5%;
    background-color: #EAF0F1;
    background-image: url("https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif");
    background-size: 50px 50px;
    background-position:right center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px){
    .crop {
        width: 90%;
    }
}

.customSpin{
    // position: absolute;
margin-top: -12%;
text-align: right;
}


.circularProgressBar{
    margin: 20% 0% 0% 0%;
}