.otp {
    height: 40px;
    margin: 2% 0% 0% 0%;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 0% 3% 0% 2%;
    background-color: #DAE0E2;
}

.otpButton{
    margin:2.5% 0% 0% 0%;
    border-radius: 50px;
    border: none;
    outline: none;
    height: 35px;
    // padding: .5% 3% .5% 3%;
   background-color: #26ae60;
   color: #ffffff;
  }